<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what your "friends" are saying:</p>



</div>

<div class="row"> 
	<div class="col-md-3">
		<div class="panel panel-body">
			<% if current_user.avatar.blank? == false %>
	            <%= image_tag current_user.avatar.url, size:100, class: "img-circle" %>
	        <% end %> 
	        <h4><%= link_to current_user.name, show_user_path(id: current_user.id) %></h4>
	        <p class="text-muted">@<%= link_to current_user.username, show_user_path(id: current_user.id) %>
		</div>
	</div>  <!-- end sidebar -->
	<div class="col-md-9">
		<div class="panel panel-body">
			<%= render 'tweets/form', tweet: @tweet %>
		</div>
		<% @following_tweets.each do |tweet| %>
		<div class="panel panel-body">
			<div class="row">
				<div class="col-xs-2">
				
					<% if tweet.user.avatar.blank? == false %>
		            <%= image_tag current_user.avatar.url, size:25, class: "img-circle" %>
		            <% end %>
		        </div>
				<div class="col-xs-10">
					<p><strong><%= link_to tweet.user.name, show_user_path(id: tweet.user.id)%></strong><span class="text-muted">@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id)%></span></p>
					<p><%= tweet.message.html_safe %></p>
					<p><small><%= time_ago_in_words(tweet.created_at) %></small></p>
				</div>	
			</div>	
		</div>	
		<% end %>
	</div>  <!-- end main feed -->

</div>