<div class="row">
    <div class="col-md-12">
        <%= image_tag @user.avatar.url, class: "img-circle", size:100 %>
        <span class="pull-right">
            <% if current_user.following.include?(@user.id) %>
                <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
            <% else %>
                <% if current_user.id != @user.id %>
                <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
            <% end %>
            <% end %>
        </span>
    </div>

    <div class="col-md-4">
        <h3><%= @user.name %></h3>
        <p>@<%= @user.username %></p>
        <p><%= @user.location %></p>
        <p><%= @user.bio %></p>


    </div>
    <div class="col-md-8">

        <% @user.tweets.each do |tweet| %>
           <div class="panel panel-body">
            <div class="row">
                <div class="col-xs-2">
                
                    <% if tweet.user.avatar.blank? == false %>
                    <%= image_tag current_user.avatar.url, size:25, class: "img-circle" %>
                    <% end %>
                </div>
                <div class="col-xs-10">
                    <p><strong><%= link_to tweet.user.name, show_user_path(id: tweet.user.id)%></strong><span class="text-muted">@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id)%></span></p>
                    <p><%= tweet.message.html_safe %></p>
                    <p><small><%= time_ago_in_words(tweet.created_at) %></small></p>
                </div>  
            </div>  
        </div>  
        <% end %>
    </div>
</div>

